* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
@media {max-width 400px;
    
}

title{
    font-style:normal;
}

.descuento{
    background-color: #1CD1B0;
    width: 100%;
    height: 38px;
    font-size: 0.9rem;
    line-height: 1.43rem;
    padding-left: 25px;
    padding-top: 10px;
}
.heroes{
    background-color: #00669F;
    width: 100%;
    height: 101px;
    font-size: 2rem;
    padding: 28px;

}
.flex{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;

}

.parte1{
    background-color: #F3F3F3;
    width: 300px;
    height: 450px;
    border-radius: 14px;
    
}
.titulos{
    margin: 20px;
    text-align: center;
}

.texto{
    text-align: left;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-size: 0.9rem;
    line-height: 1.2rem;
}
.avatar{
    align-self: center;
    margin-top: -80px;
    margin-left: 90px;

}

footer{
    Display:flex;
    flex-direction: column;
    background-color: #00669F;
    background-position:center;
    height: 51PX;
}
.pie{
    padding-left: 25px;
    padding-top: 23px;
    text-transform:uppercase;
    justify-content:center ;
    font-size: 0.8rem;
    line-height: 0.5rem;
}